# Auto detect text-based files and normalize line endings
* text=auto

# For the following file types, normalize line endings to LF on
# checkin and prevent conversion to CRLF when they are checked out
.*     text eol=lf
*.html text eol=lf
*.ejs  text eol=lf
*.css  text eol=lf
*.scss text eol=lf
*.js   text eol=lf
*.jsx  text eol=lf
*.ts   text eol=lf
*.tsx  text eol=lf
*.cjs  text eol=lf
*.mjs  text eol=lf
*.json text eol=lf
*.yaml text eol=lf
*.yml  text eol=lf
*.md   text eol=lf
*.svg  text eol=lf
*.txt  text eol=lf
*.sh   text eol=lf
*.xml  text eol=lf

# Don't diff or textually merge source maps
*.map   binary

# Mark various non-text file types as binary
*.jpg   binary
*.jpeg  binary
*.png   binary
*.gif   binary
*.webp  binary
*.ico   binary
*.woff  binary
*.woff2 binary
*.eot   binary
*.ttf   binary
*.otf   binary
*.mp4   binary
*.webm  binary
*.ogg   binary
*.avi   binary
*.zip   binary
*.tar   binary
*.gz    binary
*.bz2   binary
*.7z    binary

# Custom handling for Yarn
.yarn/** binary
