# dependencies
node_modules/

# generated
generated/
__snapshots__/
reports/
coverage/
build/
lib/
dist/
*.graphql

# temporary
tmp/
temp/
*.tmp

# misc
.DS_Store
.*/
*.log*
*/locales/*

# project folders
ios/
android/
patches/
.build/
