# yarn
.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# dependencies
node_modules/
.pnp/
.pnp.js

# production
build/

# generated
.docusaurus
.cache-loader

# misc
.DS_Store
.env.local
.env.*.local

# logs
*.log*
