# yarn
.yarn/
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# dependencies
node_modules/
.pnp/
.pnp.js

# testing
reports/
coverage/

# typescript
*.tsbuildinfo
next-env.d.ts

# next.js
.next/
out/

# vercel
.vercel

# local env files
.env*.local

# logs
*.log*

# temporary
.tmp/
tmp/
*.tmp

# demo
client/
generated/
pages/
scenes/
schema/

# misc
.DS_Store
*.pem
